# PostgreSQL
POSTGRES_DB=clickstream
POSTGRES_USER=clickstream
POSTGRES_PASSWORD=
DATABASE_URL=postgresql+asyncpg://clickstream:@postgres:5432/clickstream

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=clickstream-data

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_EVENTS=clickstream-events
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://clickstream:@postgres:5432/airflow
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW__WEBSERVER__SECRET_KEY=
AIRFLOW__CORE__LOAD_EXAMPLES=False

# Spark
SPARK_MASTER_URL=spark://spark-master:7077

# Redis
REDIS_URL=redis://redis:6379/0

# API
API_HOST=0.0.0.0
API_PORT=8000
